/*HEADER*/
.contenedor {
    display: grid;
    grid-template-areas: 
    "encabezado encabezado encabezado encabezado"
    "main main main main"
    "img img img img"
    "footer footer footer footer";   
}

.mainMenu{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

header {
background-color: bisque;
grid-area: encabezado;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.parrafo {
    text-align: center;
}

nav {
    background-color: bisque;
    grid-area: nav;
}

main {
    background-color: burlywood;
    grid-area: main;
}

img {
    grid-area: img;
}

footer {
    background-color: azure;
    grid-area: footer;
}

/*Imagenes*/

.mani {
    width: 200px;
    border: brown 3px solid;
    margin-left: 30px;
}

.nuez {
    width: 200px;
    border: brown 3px solid;
    margin-left: 30px;
}

.caju {
    width: 200px;
    border: brown 3px solid;
    margin-left: 30px;
}

.pistachos {
    width: 200px;
    border: brown 3px solid;
    margin-left: 30px;
}

@media (min-width:1024px) {
    .gridContenedor {
        grid-template-areas: 
        "encabezado encabezado encabezado encabezado"
        "main main main main"
        "img img img img"
        "footer footer footer footer";
    }
}